body{
	font-size: large;

}
.page_content{
	background-color: white;
	width: 1756px;
	
	border-style: solid;
	border-width: 5px;
	border-color: #CCCCCC;
}
.greyBar{
	background-color: white;
}
.greyText{
	color: grey;
}
.playlistRed{
  border-style: solid;
  border-color: red;
  border-width: thick;
}
.playlistOrange{
  border-style: solid;
  border-color: Orange;
  border-width: thick;
}
.playlistYellow{
  border-style: solid;
  border-color: Yellow;
  border-width: thick;
}
.playlistGreen{
  border-style: solid;
  border-color: Green;
  border-width: thick;
}
.playlistLightSkyBlue{
  border-style: solid;
  border-color: LightSkyBlue;
  border-width: thick;
}
.playlistViolet{
  border-style: solid;
  border-color: Violet;
  border-width: thick;
}
.playlistBlack{
  border-style: solid;
  border-color: Black;
  border-width: thick;
}
.leftAlign{
	text-align: left;
}
td {
  vertical-align: top;
  width:288px;
}
#artistTable{
  vertical-align: top;
  width:400px;
}
a.specialCategory{
	font-size: large;    
	color: black;
	text-decoration: none;
	background-color: LightGrey;
	padding: .4em .75em;
}
img {
  border-radius: 2%;
  
  filter: saturate(95%) brightness(107%) contrast(95%);
}
.noContrast{
	filter: contrast(100%);
}